*{
    color: aliceblue;
}

.main{
    width: 100%;
    justify-content: center;
    padding: 8rem 0;
  text-align: center;
}




/*container*/

.container{
    width: 98%; max-width: 1500px;
    margin: auto;
    padding: .5rem;
    background:  #ffffff06;
}

 .datos{
    display: grid;
   display: flex;
   justify-content: left;
    padding: 1rem;
    background:#00000013;

}
@media screen and (max-width:550px) {
    .datos{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
.portada{
    border-radius: 5px;
    width: 250px;
}
.datos > div{
  background:transparent;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 100%; max-width: 1000px;
    min-width: 200px;
}
.titulo{
    width: 100%;
    text-align: left;
    margin: .5rem 0;
    
}
.resumen{
    text-align: left;
    padding: 1rem 0;
   

}
 /*dentro de datos lo de arriba*/

.temporada{
   text-align: left;
   margin: .5rem 0;
   
}
.temporada-titulo{
    cursor: pointer;
    background: #00a6ff3c;
    width: 100%;
    margin: auto;
    text-align: center;
}
.temporada > li{
    margin: 1rem 0;
    border-bottom:1px solid rgb(172, 172, 172);
    width: 80%;
    margin: .5rem auto;
    list-style: none;
}
.capitulo{
    transition: all .3s ease-in-out;
}
.capitulo:hover{
    color: red;
}



/*reproductor*/
.visor{
    width: 98%; max-width: 1500px;
    margin: 1rem auto;
    border-radius: 10px;
}

.visor > iframe{
    width: 100%; min-width: 280px; max-width: 1500px;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.viendo{
    font-size: 2rem;
    background: rgb(25, 24, 24);
    padding: 1rem 0;
    border-radius: 10px;
}

.videoplayer_html5_api{
  border: solid red;
}


li{
    display: none;
}
/*togle*/
.visible {
    display: block;
}