*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
:root{
    --fondo:#353535;
    --rojo:#ff0100;
    --bordes:#000000;
}
a{
    text-decoration: none;
    color: #ffffff;
}

header{
  height: 60px;
  background: var(--rojo);
}
/*menu*/
.menu{
    display: flex;
    flex-wrap: nowrap;
    width: 90%; max-width: 1400px;
    margin: auto; 
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.menu > a img{
    width: 40%;
    max-height: 130px;
  
}

.buscadorContainer{
overflow: hidden;
display: flex;
}
#buscador{
    padding: .2rem;
    padding-left: .5rem;
    border: none; height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.buscadorBtn{
    height: 30px;
    margin-left: -5px;
    width: 50px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.buscadorBtn > svg{
    width: 80%;
    height: 80%;
   padding: .1rem;
   color: #666666;
}


/*main*/
main{
    background: linear-gradient(130deg, var(--fondo), var(--bordes), var(--fondo));
    padding: 2rem 0;
    min-height: 1000px;
    
    text-align: center;
}
.txt{
    width: 100%; max-width: 1240px;
    min-height: 900px;
    border-radius: 10px;
    margin: auto; padding: 1.5rem;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}
.txt > h1{
    text-align: center;
}
.txt > p{
    margin: 1rem 0;
    line-height: 1.3rem;
    font-family: 'poppins';
    font-size: 1.065rem;
}
.txt p  > a{
    color: var(--rojo);
}
.txt span{
    font-weight: 600;
}


/*footer*/


footer{
    background:var(--rojo);
    min-height: 350px;
  position: relative;
}

.contienefoo{
    position: absolute;
    width: 100%; 
    margin: auto;
    text-align: center;
   top: 40%;
}

.contienefoo > ol{
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: auto;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
}
.contienefoo > ol li{
    flex-grow: 1;
    flex-basis: 1;
}
.contienefoo > p{
    margin: 5rem 0 0 0;
    color: var(--bordes);
}
